<app-layout [showLoginButton]="false">
  <div class="container">
    <form [formGroup]="authForm" (ngSubmit)="submit()">
      <tui-input formControlName="username" [tuiTextfieldCleaner]="true">
        Ingresa un username
        <span class="tui-required"></span>
        <input placeholder="myUserName" tuiTextfieldLegacy type="text" />
      </tui-input>

      <tui-error formControlName="username" [error]="[] | tuiFieldError | async" />

      <tui-input
        formControlName="email"
        tuiHintContent="Tambien puedes ingresar tu usuario"
        [tuiTextfieldCleaner]="true">
        Ingresa un email
        <span class="tui-required"></span>
        <input autocomplete="email" placeholder="mail@example" tuiTextfieldLegacy type="email" />
      </tui-input>

      <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />

      <tui-input-password
        formControlName="password"
        class="tui-space_top-2"
        [tuiTextfieldCleaner]="true">
        Ingresa una contraseña
        <span class="tui-required"></span>
        <input placeholder="*********" tuiTextfieldLegacy />
      </tui-input-password>

      <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />

      @if (incorrectPasswordValidation()) {
        <mark>La contraseña no cumple con las validaciones</mark>
      }

      <tui-input
        formControlName="picture"
        tuiHintContent="ej: https://my-image.png"
        [tuiTextfieldCleaner]="true">
        Ingresa una url de imagen
        <span class="tui-required"></span>
        <input placeholder="https://my-image.png" tuiTextfieldLegacy type="text" />
      </tui-input>

      <tui-error formControlName="picture" [error]="[] | tuiFieldError | async" />

      <tui-input formControlName="name" [tuiTextfieldCleaner]="true">
        Ingresa tu nombre
        <span class="tui-required"></span>
        <input autocomplete="name" placeholder="Jhon Hernandez" tuiTextfieldLegacy type="text" />
      </tui-input>

      <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />

      <button
        appearance="accent"
        tuiButton
        size="m"
        [style.width]="'100%'"
        [disabled]="isFormInvalid() || isLoading()">
        @if (isLoading()) {
          Loading...
        } @else {
          Registrarse
        }
      </button>
    </form>

    <tui-error [error]="computedError" />

    @if (isSuccessRegister()) {
      <mark>Recuerda activar tu cuenta con un administrador</mark>
    }

    <a [routerLink]="[loginPath]">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</app-layout>
